@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Ubuntu+Condensed&display=swap');

* {
	* margin = 0;
	* padding = 0;
	* box-sizing: 0;
}

.screen {
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.mixer {
	width: 100%;
	height: 99vh;
	display: flex;
	margin: 0 auto;
	position: relative;
	align-items: center;
	overflow: hidden;
	transition: 2s;
  background-color: rgb(81, 104, 106);
}

.config {
	width: 25%;
	height: 95%;
	right: 3%;
	position: absolute;
	border-radius: 20px;
	background-color: white;
}

.config-header {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	border-radius: 20px 20px 0 0;
	background-color: #EFF0F2;
}

.config-header p {
	color: #720e9e;
	font-size: 1.7em;
	padding: 5px;
	background-color: #D8BFD8;
	position: absolute;
	left: 10px;
	border-radius: 5px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.config-main {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.config-main > p {
	padding: 5px;
	color: gray;
	height: 50px;
	font-size: 1.7em;
	text-align: center;
	line-height: 1.7em;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.screenshot {
	width: 87%;
	height: 300px;
	background-color: rgb(81, 104, 106);
	margin: 0 auto;
	transition: 1s;
}

.slider {
	width: 87%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 20px;
	align-items: flex-start;
	height: 75px;
}

.slider * {
	margin: 0;
	padding: 0;
}

.slider p {
	padding: 5px;
	color: #720e9e;
	font-size: 1.2em;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.slider input[type="range"] {
	top: 13px;
	width: 100%;
	outline: none;
	position: relative;
	-webkit-appearance: none;
	background: transparent;
}

.color-cache {
	width: 87%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	overflow: auto;
	align-items: center;
	flex-direction: row;
	background: #eff0f2;
}

.color {
	min-width: 70px;
	height: 70px;
	margin-left: 10px;
	background-color: black;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	border: none;
	background: red;
	border-radius: 5px;
}

.slider input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	margin-top: -5px;
	border-radius: 50%;
	border: 2px solid #ddd;
	background: #3498db;
}

.config-main :nth-child(3) input[type="range"]::-webkit-slider-runnable-track {
	background: red;
}

.config-main :nth-child(4) input[type="range"]::-webkit-slider-runnable-track {
	background: #00ff00;
}

.config-main :nth-child(5) input[type="range"]::-webkit-slider-runnable-track {
	background: blue;
}

#red {
	color: red;
}
#green {
	color: green;
}
#blue {
	color: blue;
}


.arrow {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px; 
  border-width: 10px;
  border-style: solid;
  border-color: #D8BFD8 transparent #D8BFD8 #D8BFD8;
}
